body {font-family: robot, sans-serif;}


.header {display: flex;
         justify-content: space-between;
        background-color: #1F2937;}

ul {display: flex;
    list-style-type: none;}

button {background-color: #3882F6;
        color: white;}

a {text-decoration: none;
   color: white;}

.logo {color: #F9FAF8;
       font-size: 24px;}   