*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}

body {font-family: robot, sans-serif;}


.header {display: flex;
         justify-content: space-between;}

ul {display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
    color:#E5E7EB}

a {text-decoration: none;
   color: white;}

.logo {color: #1F2937;
       font-size: 24px;} 

.hero-main {color: #f9faf8;
       font-size:48px;
       font-weight: 800;
       padding: 0px;
       margin: 0px;}

.hero-second {color: #E5E7EB;
         font-size: 18px;
         margin: 0px;
         padding: 0px;}

.bt-1{background-color: #3882F6;
      color: white;
      font-weight: bold;
      border: solid #3882F6;
      border-radius: 4px;
      width: 80px;} 

.nav-bar {background-color: #1F2937;
       display: flex;
       justify-content: space-around;}


.hero-container {display: flex;
                 flex-direction: row-reverse;
              background-color: #1F2937;
              align-items: center;
              justify-content: center;
              padding-top: 40px;
              padding-bottom: 100px;}

.htext-container {display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  margin-right: 48px;}
                  
h1 {font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 20px;
    margin-bottom: 20px;} 

.gen-cont {display: flex;
          justify-content: space-evenly;
          padding-bottom: 50px;}
    
 .gen-iandt {}  
    
.gen-image{border: 5px solid #3882F6;
       border-radius: 15px;
       width: 200px;
       height: 200px;} 

.gentxt-cont {display: flex;
               justify-content: space-evenly;}   

.qa-cont{background-color: #E5E7EB;
         padding-top: 90px;
         padding-bottom: 90px;}

.quote {font-style: italic;
        font-size: 36px;
        color: #1F2937;
        display:flex;
        justify-content: center;}

.author {font-weight: 900;
         margin-top: 10px;
         margin-left:  1088px;}

.b-cont {background-color:#3882F6;
         width: 1000px;
         height: 100px;
         display: flex;
         align-items: center;
         justify-content: center;
         margin-top: 50px;
         margin-bottom: 50px;
         border-radius: 4px;}

.b2-cont {display: flex;
          justify-content: center;}

 .bt-2 {background-color: #3882F6;
        color: white;
       border: 1px solid white;
       width: 80px;
       border-radius: 4px;
       margin-left: 300px;
       font-weight: bold;} 

.footer {background-color: #1F2937;
         color: white;
         display:flex;
         justify-content: center;
         padding-top: 30px;
         padding-bottom: 30px;}