body {font-family: robot, sans-serif;}


.header {display: flex;
         justify-content: space-between;}

ul {display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
    color:#E5E7EB}

button {background-color: #3882F6;
        color: white;}

a {text-decoration: none;
   color: white;}

.logo {color: #F9FAF8;
       font-size: 24px;} 

.main {color: #f9faf8;
       font-size:48px;
       font-weight: 800;}

.second {color: #E5E7EB;
         font-size: 18px;}

.hero {background-color: #1F2937;}