body {font-family: robot, sans-serif;}


.header {display: flex;
         justify-content: space-between;}

ul {display: flex;
    list-style-type: none;}

button {background-color: #3882F6;
        color: white;}

a {text-decoration: none;}