*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}

body {font-family: robot, sans-serif;}


.header {display: flex;
         justify-content: space-between;}

ul {display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
    color:#E5E7EB}

a {text-decoration: none;
   color: white;}

.logo {color: #F9FAF8;
       font-size: 24px;} 

.hero-main {color: #f9faf8;
       font-size:48px;
       font-weight: 800;
       padding: 0px;
       margin: 0px;}

.hero-second {color: #E5E7EB;
         font-size: 18px;
         margin: 0px;
         padding: 0px;}

.nav-bar {background-color: #1F2937;
       display: flex;
       justify-content: space-between;}


.hero-container {display: flex;
                 flex-direction: row-reverse;
              background-color: #1F2937;
              align-items: center;
              justify-content: center;}

.htext-container {display: flex;
                  flex-direction: column;
                  align-items: flex-start;}
h1 {font-size: 36px;
    font-weight: 800;
    color: #1F2937;} 

    .gen-cont {display: flex;
               justify-content: space-evenly;}
    
 .gen-image {display: flex;
             height: 200px;
             border: 5px solid #3882F6;}  
    
 .gentxt-cont {display: flex;
               justify-content: space-evenly;}   

.qa-cont{background-color: #E5E7EB;}

.quote {font-style: italic;
        font-size: 36px;
        color: #1F2937;}

.author {font-weight: 900;}

.b-cont {background-color:#3882F6;
         width: 1000px;
         height: 100px;}